header{
    background-image: url("image/pattern.jpeg");
    font-family: Helvetica;
    font-size: 60px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.price{
    color:blue;
    font-family: Helvetica;
    font-weight: bold;
}

.brushes h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: mediumspringgreen;
}

.frames h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: lightcoral;
}

.paint h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: skyblue;
}

h3{
    font-family: Helvetica;
    font-weight: bold;
}

p{
    font-family: Helvetica;
}